input, select, textarea {
	border: 0 none;
	padding: 5px;
	font-family: "PT Sans", Lucida, Arial, Helvetica, sans-serif;
}

.text input, select, textarea {
	border-radius: 0;
	background: #FFF;
	width: 290px;
	border: 0 none;
}

form .field {
	margin-bottom: 10px;
}

.Actions input {
	background: #49BAEF;
	font-weight: bold;
	text-transform: uppercase;
	color: #FFF;
	padding: 5px 10px;
	font-size: 18px;
}

form .required {
	display: inline-block;
	background: #FF0000;
	color: #FFF;
	padding: 2px 6px;
}

input.file{
	color: #ffffff;
	font-size: 12px;
	background: rgba(225, 225, 225, 0.1);
	border: 1px solid rgba(225, 225, 225, 0.2);
	display: block;
	    -webkit-border-radius: 5px;
	       -moz-border-radius: 5px;
	            border-radius: 5px;
	    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;

		
}